<!doctype html>
<html lang="en" prefix="og: http://ogp.me/ns#">
<head>
    <meta charset="utf-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' />
    <title>GCS:DASHBOARD Intro</title>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,700,700i%7CMaitree:200,300,400,600,700&amp;subset=latin-ext" rel="stylesheet">
    <!-- CSS Base -->
    <link rel="stylesheet" type='text/css' media='all' href="../assets/webslide/css/webslides.css">
    <!-- Optional - CSS SVG Icons (Font Awesome) -->
    <link rel="stylesheet" type="text/css" media="all" href="../assets/webslide/css/svg-icons.css">
    <!-- FAVICONS -->
    <link rel="shortcut icon" sizes="16x16" href="../assets/webslide/images/favicons/favicon.png">
    <link rel="shortcut icon" sizes="32x32" href="../assets/webslide/images/favicons/favicon-32.png">
    <link rel="apple-touch-icon icon" sizes="76x76" href="../assets/webslide/images/favicons/favicon-76.png">
    <link rel="apple-touch-icon icon" sizes="120x120" href="../assets/webslide/images/favicons/favicon-120.png">
    <link rel="apple-touch-icon icon" sizes="152x152" href="../assets/webslide/images/favicons/favicon-152.png">
    <link rel="apple-touch-icon icon" sizes="180x180" href="../assets/webslide/images/favicons/favicon-180.png">
    <link rel="apple-touch-icon icon" sizes="192x192" href="../assets/webslide/images/favicons/favicon-192.png">
    <meta name="theme-color" content="#333333">

    <style>
        .noselect {
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
        }

        .btn-danger {
            display: block;
            width: 85px;
            height: 35px;
            background: red;
            padding: 8px;
            text-align: center;
            border-radius: 5px;
            color: white;
            border-radius: 3px;
        }
    </style>
</head>
<body class="noselect" unselectable="on" onselectstart="return false;" onmousedown="return false;">
    <header>
        <span class="alignright" style="height: 50px !important; width: 85px !important;"><a class="btn-danger" href="MainDashboard/Index">Close</a></span>
    </header>
    <main role="main">
        <article id="webslides">            
            <section class="bg-apple aligncenter slide current">
                <span class="background light" style="background-image:url(../assets/img/backgrounds/bg_earth_.png)"></span>
                <!--.wrap = container (width: 90%) -->
                <div class="wrap zoomIn">
                    <h1><img class="logo" src="../assets/img/logos/DD_Logo_Welcome.png" alt="img/logos/DD_Logo_Welcome.png"></h1>
                </div>
                <!-- .end .wrap -->
            </section>

            <section class="bg-apple">
                <span class="background dark" style="background-image:url(../assets/img/backgrounds/bg_earth_.png)"></span>
                <div class="wrap size-80" style="text-align:center;">
                    <h1>
                        <img class="aligncenter" src="../assets/img/logos/GCS_Logo_SM.png" alt="img/logos/GCS_Logo_SM.png">
                    </h1>
                    <br />
                    <p class="text-intro" align="center">
                        <h4>
                            Global Computer Services L.L.C (fondly known as GLOBCOM) is one of the largest IT service providers in the Sultanate of Oman. GLOBCOM initiative for<span style="color: #1d9fd1"> Digital Process Automation</span> for complex business processes.<br />It helps in achieving greater efficiency, adapting to changing business needs, <br />digitalization of business data and reducing manual errors.
                        </h4>
                    </p>
                    <!--<p class="text-intro" align="center">
                        <h4>
                            The main goal is not only to automate business processes, but also to simplify<br /> and improve business workflows as well.
                        </h4>
                    </p>-->
                    <p class="text-intro" align="center">
                        <h4>
                            GLOBCOM helps us to Visualize, Understand and Improve Business Processes
                        </h4>
                    </p>
                </div>
                <!-- .end .wrap -->
            </section>

            <section class="bg-apple slide">
                <span class="background dark" style="background-image:url(../assets/img/backgrounds/bg_earth_.png)"></span>
                <div class="wrap">
                    <div class="card-50">
                        <figure><img class="aligncenter" src="../assets/img/logos/DD_Logo_Welcome.png" alt="img/logos/DD_Logo_Welcome.png" style="margin-top: 260px;"></figure>
                        <div class="flex-content">
                            <p class="text-intro">
                                <h2>
                                    <span style="font-weight:400">GCS-DD <span style="color: #1d9fd1;">Benefits<br /></span></span>
                                </h2>
                                <h3>
                                    <img src="../assets/img/icons/dd_bullet_pt.png" />  Increased Productivity<br />
                                    <img src="../assets/img/icons/dd_bullet_pt.png" />  Data Analytics<br />
                                    <img src="../assets/img/icons/dd_bullet_pt.png" />  Save Cost & Time<br />
                                    <img src="../assets/img/icons/dd_bullet_pt.png" />  Prevents Manual Errors<br />
                                    <img src="../assets/img/icons/dd_bullet_pt.png" />  Metrics Visibility<br />
                                    <img src="../assets/img/icons/dd_bullet_pt.png" />  Centralized Control<br />
                                    <img src="../assets/img/icons/dd_bullet_pt.png" />  Enhanced Reliability<br />
                                    <img src="../assets/img/icons/dd_bullet_pt.png" />  Quality & Consistency<br />
                                    <img src="../assets/img/icons/dd_bullet_pt.png" />  Better Compliance & Security<br />
                                    <img src="../assets/img/icons/dd_bullet_pt.png" />  Enhanced Reporting & Monitoring<br />
                                </h3>
                            </p>
                        </div>
                        <!-- end .flex-content-->
                    </div>
                    <!-- end .card-50-->
                </div>
                <!-- .end .wrap -->
            </section>

            <section class="bg-apple slide">
                <span class="background dark" style="background-image:url(../assets/img/backgrounds/bg_earth_.png)"></span>
                <div class="wrap">
                    <h2>GLOBCOM - the <span style="color: #1d9fd1;">journey</span> so far</h2>
                    <br />
                    <br />
                    <br />
                    <ul class="flexblock features">
                        <li>
                            <div>
                                <img src="../assets/img/globcom-logo.png" alt="img/globcom-logo.png" />
                                <h2>
                                    HRMS
                                </h2>
                                Human Resource Management System
                            </div>
                            <span style="color: #1dd131; font-size: 18px; text-align:right;">Live</span>
                        </li>
                        <li>
                            <div>
                                <img src="../assets/img/lg_ts.png" alt="img/lg_ts.png" />
                                <h2>
                                    GCS Timesheet
                                </h2>
                                Allocation & Tracking of Resource Efforts
                            </div>
                            <span style="color: #1dd131; font-size: 18px; text-align:right;">Live</span>
                        </li>
                        <li>
                            <div>
                                <img src="../assets/img/MakeenLogo.png" alt="img/MakeenLogo.png" />
                                <h2>
                                    Makeen (MTCIT)
                                </h2>
                                National initiative to qualify digital competencies
                            </div>
                            <span style="color: #1dd131; font-size: 18px; text-align:right;">Live</span>
                        </li>
                        <li>
                            <div>
                                <img src="../assets/img/NafadAccess.png" alt="img/NafadAccess.png" />
                                <h2>
                                    NAFAD Access
                                </h2>
                                Access is a digital and national platform
                            </div>
                            <span style="color: #1dd131; font-size: 18px; text-align:right;">Live</span>
                        </li>
                        <li>
                            <div>
                                <img src="../assets/img/Feedback.png" />
                                <h2>
                                    GCS AMS
                                </h2>
                                GCS Asset Management System
                            </div>
                            <span style="color: #1dd131; font-size: 18px; text-align:right;">Live</span>
                        </li>
                        <li>
                            <div>
                                <img src="../assets/img/lg_moashiraat.png" />
                                <h2>
                                    GCS RMS
                                </h2>
                                GCS Recruitment Management System
                            </div>
                            <span style="color: #1dd131; font-size: 18px; text-align:right;">Live</span>
                        </li>
                        <li>
                            <div>
                                <img src="../assets/img/graduate_icon.png" />
                                <h2>
                                    CDP
                                </h2>
                                GCS Career Development Portal
                            </div>
                            <span style="color: #ffd800; font-size: 18px; text-align:right;">In Progress</span>
                        </li>
                        <li>
                            <div>
                                <img src="../assets/img/tcsm_logo.png" />
                                <h2>
                                    Project 1
                                </h2>
                                Write project 1 description here
                            </div>
                            <span style="color: #ff6a00; font-size: 18px; text-align:right;">UAT</span>
                        </li>
                        <li>
                            <div>
                                <h2>
                                    <img src="../assets/img/ITSA_Png.png" />
                                    Project 2
                                </h2>
                                Write project 2 description here
                            </div>
                            <span style="color:darkseagreen; font-size: 18px; text-align:right;">Awaiting release</span>
                        </li>
                    </ul>
                    <div class="text-pull-right" style="border: none;">
                        <span class="text-right" style="font-size:22px;">Many more in progress...</span>
                    </div>
                </div>
            </section>

            <section class="bg-apple slide">
                <span class="background dark" style="background-image:url(../assets/img/backgrounds/bg_earth_.png)"></span>
                <div class="wrap">
                    <div class="card-50">
                        <figure><img class="aligncenter" src="../assets/img/logos/DD_Logo_Welcome.png" alt="img/logos/DD_Logo_Welcome.png" style="margin-top: 180px;"></figure>
                        <div class="flex-content">
                            <p class="text-intro">
                                <h2>
                                    <span style="font-weight:400">
                                        GCS DD <span style="color: #76C044">Features<br /></span>
                                    </span>
                                </h2>
                                <h3>
                                    <img src="../assets/img/icons/dd_bullet_pt.png" />  Real-time KPIs<br />
                                    <img src="../assets/img/icons/dd_bullet_pt.png" />  Performance Monitoring<br />
                                    <img src="../assets/img/icons/dd_bullet_pt.png" />  Continuous Improvement<br />
                                    <img src="../assets/img/icons/dd_bullet_pt.png" />  Better Decision Making<br />
                                    <img src="../assets/img/icons/dd_bullet_pt.png" />  Improve Agility<br />
                                    <img src="../assets/img/icons/dd_bullet_pt.png" />  Develop Efficiency<br />
                                    <img src="../assets/img/icons/dd_bullet_pt.png" />  Live Message Broadcasting<br />
                                    <img src="../assets/img/icons/dd_bullet_pt.png" />  Continuous Save Time<br />
                                </h3>
                            </p>
                        </div>
                        <!-- end .flex-content-->
                    </div>
                    <!-- end .card-50-->
                </div>
                <!-- .end .wrap -->
            </section>

            <section class="bg-apple aligncenter slide">
                <span class="background dark" style="background-image:url(../assets/img/backgrounds/bg_earth_.png)"></span>
                <div class="wrap zoomIn">
                    <h1>
                        <a href="MainDashboard/Index"><img src="../assets/img/logos/DD_Logo_Welcome.png" /></a>
                    </h1>
                </div>
                <!-- .end .wrap -->
            </section>

        </article>
    </main>
    <!--main-->
    <footer>
        <div class="wrap" style="margin-right: 15px !important;">
            <p>
                <span class="alignright"><img src="../assets/img/globcom-logo.png" alt="img/globcom-logo.png"></span>
            </p>
        </div>
    </footer>
    <!-- Required -->
    <script src="../assets/webslide/js/webslides.js"></script>
    <script>
        window.ws = new WebSlides({ loop: false });//window.ws = new WebSlides({ autoslide: 8000 }); //For Autosliding
    </script>

    <script defer src="../assets/webslide/js/svg-icons.js"></script>
</body>
</html>
